img{
    height: 200px;
    border-radius: 45%;
}
.profile{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    

  
  
}
p{
    width: 25%;
}
.skills1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
   
   

  
   
}
.skills2{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    

   

}
.two,.three{
    width:25% ;
    font-weight: lighter;
}
.one{

    font-weight: lighter;
}
.contact{
    text-align: center;
    margin-top: 10%;
    font-weight: bolder;
}
.bottom{
    margin: 30px;
   display:flex;
   gap: 20px
   ;
   justify-content: center;
   font-weight: bold;
   
}
 
  
.six{
    display: flex;
    justify-content: end;
}
